<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TheSpamAssassins</display-name>
  <resource-ref>
  	<res-ref-name>CarRentalDS</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref><filter>
    <filter-name>ApplicationAccessFilter</filter-name>
    <filter-class>ca.hazystate.ApplicationAccessFilter</filter-class>
  </filter><filter-mapping>
    <filter-name>ApplicationAccessFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping><filter>
    <display-name>RedirectFilter</display-name>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>ca.on.senecac.prg556.common.RedirectFilter</filter-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>/showbookings.jspx</param-value>
    </init-param>
    <init-param>
      <param-name>method</param-name>
      <param-value>REDIRECT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <error-page>
    <exception-type>com.fluffypony.BadRequestException</exception-type>
    <location>/badrequest.jspx</location>
  </error-page>
  <filter>
    <filter-name>CRBAMenuFilter</filter-name>
    <filter-class>ca.hazystate.CRBAMenuFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CRBAMenuFilter</filter-name>
    <url-pattern>/crbamenu.jspx</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ClientLoginFilter</filter-name>
    <filter-class>com.fluffypony.ClientLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClientLoginFilter</filter-name>
    <url-pattern>/clientlogin.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>LogoutFilter</filter-name>
    <filter-class>com.fluffypony.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogoutFilter</filter-name>
    <url-pattern>/logout.jspx</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ShowBookingsFilter</filter-name>
    <filter-class>com.fluffypony.ShowBookingsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShowBookingsFilter</filter-name>
    <url-pattern>/showbookings.jspx</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  
  <filter>
    <filter-name>BookRentalFilter</filter-name>
    <filter-class>ca.hazystate.BookRentalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BookRentalFilter</filter-name>
    <url-pattern>/bookrental.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
</web-app>